head
	meta(name="viewport" content="width=device-width")/
	title Taggy - #{title}
	link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans")
	link(href="https://fonts.googleapis.com/css?family=Fascinate" rel="stylesheet")
	script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
	style 
		include stylesheet.css