nav
ul
	li  
		a(class='nav' href='/') Home
	li  
		a(class='nav' href='list') Memo list
	li 
		a(class='nav' href='tags') Tags
	li
		a(class='nav' href='logOut') Log Out

style
	include stylesheet.css
