html
	include head
	body
	div.signUp
		h1 Create New User
		form(method='POST' action='signUp')
			div.signUpField
				input(type='text' placeholder='First Name' name='firstname')
			div.signUpField
				input(type='text' placeholder='Last Name' name='lastname')
			div.signUpField
				input(type='text' placeholder='Email' name='email')
			div.signUpField
				input(type='text' placeholder='Username' name='username')
			div.signUpField
				input(type='password' placeholder='Password' name='password')
			div.signUpButton
				button(type='submit' value='submit') Create User
		form(method='GET' action='login')
			div.signUpLogin
				button(href="/login") Login	
			!= messages()
			if errors
				each error in errors 
					div.error #{error.msg} 