body {
	margin: 0;
	background-color: rgb(153, 255, 255);
}

p {
	font-family: 'Josefin Sans';
}

/*-------------------------Navbar-------------------------*/

nav {
	display: block;
	height: 40px;
	width: 100%;
	background: url(images/hamburger.svg) no-repeat 3% center;
}

nav.open{
	background-color: rgb(255, 0, 34);
}

ul {
	list-style-type: none;
	font-family: 'Josefin Sans';
	padding: 0;
	height: 0;
	overflow: hidden;
	text-align: center;
	margin: 0;
}

ul.open {
	height: auto;
}

ul li {
	float: none;
	text-align: left;
	width: 100%;
	margin: 0;
}

ul li a {
	background-color: rgb(255, 255, 132);
	font-size: 18pt;
	color: rgb(255, 0, 34);
	display: block;
	padding: 20px;
	border-bottom: 3px solid rgb(255, 0, 34);
	margin: 0;
	text-decoration: none;
}

nav:after{
	content: "";
	display: block;
	clear: both;
}

/*-------------------------Home Page------------------------*/

.logo {
	height: 60px;
	padding-top: 30px;
}

.logo #logoHome {
	height: 50px;
	width: 120px;
	margin: 0 auto;
	display: block;
}

.newMemo {
	height: 180px;
	padding: 30px;
	padding-top: 0;
	background: url(images/tag1.png) no-repeat 60% center ;
}

.newMemo form{
	padding-top: 75px;
}

.newMemoItem {
	font-family: 'Josefin Sans';
	margin: 0 auto;
	width: 230px;
	height: 40px;
	padding: 10px;
	padding-left: 20px;
}

.newMemoItem input {
	font-family: 'Josefin Sans';
	font-size: 12pt;
	border-radius: 15px;
	padding-left: 20px;
	width: 190px;
	height: 40px;
	border: none;
}

.newMemoButton {
	margin: 0 auto;
	margin-top: 40px;
	width: 120px;
	height: 30px;
	padding: 10px;
	padding-top: 30px;
	border-color: #000;
}

.newMemoButton button {
	font-size: 10pt;
	width: 120px;
	height: 30px;
	border-radius: 15px;
	background-color: rgb(255,255,132);
	color: rgb(255,0,34);
	border-color: rgb(255,255,132);
}

/*------------------------Login Page------------------------*/

.home {
	margin: 0 auto;
	height: 280px;
}

#tag {
	position: absolute;
	display: block;
	margin: 0 auto;
	height: 200px;
	width: 350px;
	padding-top: 40px;
	padding-left: 50px;
}

#logo {
	position: relative;
	top: 100;
	left: 95;
	height: 80px;
	width: 200px;
}

.login {
	margin: 0 auto;
	width: 100%;
	height: 400px;
	font-family: 'Josefin Sans';
}    

.login h1 {
	margin-top: 20px;
	text-align: center;
	font-size: 26pt;
	height: 20px;
	color: rgb(255,0,43);
}

.loginField {
	margin: 0 auto;
	margin-top: 40px;
	width: 230px;
	height: 20px;
	padding: 10px;
}

.loginField input {
	font-family: 'Josefin Sans';
	border-radius: 15px;
	padding-left: 10px;
	width: 230px;
	height: 40px;
	border-color: rgb(255,255,132);
}

.loginButton {
	margin: 0 auto;
	margin-top: 40px;
	width: 120px;
	height: 30px;
	padding: 10px;
	border-color: #000;
}

.loginButton button {
	font-size: 10pt;
	width: 120px;
	height: 30px;
	border-radius: 15px;
	background-color: rgb(255,255,132);
	color: rgb(255,0,34);
	border-color: rgb(255,255,132);
}

.createUser {
	margin: 0 auto;
	margin-top: 10px;
	width: 120px;
	height: 30px;
	padding: 10px;
	border-color: #000;
}

.createUser button {
	font-size: 10pt;
	width: 120px;
	height: 30px;
	border-radius: 15px;
	background-color: rgb(255,255,132);
	color: rgb(255,0,34);
	border-color: rgb(255,255,132);
}


/*-----------------------Sign up Page----------------------*/

.signUp {
	margin: 0 auto;
	width: 100%;
	height: 400px;
	font-family: 'Josefin Sans';
}    

.signUp h1 {
	margin: 0;
	margin-top: 40px;
	text-align: center;
	font-size: 26pt;
	height: 80px;
	line-height: 80px;
	color: rgb(255, 0, 34);
	background-color: rgb(153, 255, 255);
}

.signUpField {
	margin: 0 auto;
	margin-top: 20px;
	width: 230px;
	height: 20px;
	padding: 10px;
}

.signUpField input {
	font-family: 'Josefin Sans';
	border-radius: 15px;
	padding-left: 10px;
	width: 230px;
	height: 40px;
	border-color: rgb(255,255,132);
}

.signUpButton {
	margin: 0 auto;
	margin-top: 40px;
	width: 120px;
	height: 30px;
	padding: 10px;
	border-color: #000;
}

.signUpButton button {
	font-size: 10pt;
	width: 120px;
	height: 30px;
	border-radius: 15px;
	background-color: rgb(255,255,132);
	color: rgb(255,0,34);
	border-color: rgb(255,255,132);
}

.signUpLogin {
	margin: 0 auto;
	margin-top: 10px;
	width: 120px;
	height: 30px;
	padding: 10px;
	border-color: #000;
}

.signUpLogin button {
	font-size: 10pt;
	width: 120px;
	height: 30px;
	border-radius: 15px;
	background-color: rgb(255,255,132);
	color: rgb(255,0,34);
	border-color: rgb(255,255,132);
}


/*-----------------------All & My blogs page----------------------*/

.titleList {
	font-family: 'Josefin Sans';
	margin: 0 auto;
	width: 30%;
	color: rgb(255, 0, 34);
}

.titleList h1 {
	margin-top: 30px;
	text-align: center;
	font-size: 20pt;
}

.memoWrapper {
	margin: 0 auto;
	height: 100px;
	width: 100%;
	font-family: 'Josefin Sans';
} 

.memoItem {
	margin-top: 20px;
	box-sizing: border-box;
	width: 100%;
	height: 100px;
	background: url(images/tag2.png) no-repeat 60% center;
}

.memoItem table{
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	padding: 10px;
}

.memoItem td{
	width: 150px;
}

.memoItem td{
	font-size: 11pt;
	color: rgb(255, 0, 34);
	padding: 5px;
}

/*-----------------------All Tags page----------------------*/

.titleTags {
	font-family: 'Josefin Sans';
	margin: 0 auto;
	width: 30%;
	color: rgb(255, 0, 34);
}

.titleTags h1 {
	margin-top: 30px;
	text-align: center;
	font-size: 20pt;
}

.memoWrapper {
	margin: 0 auto;
	height: 100px;
	width: 100%;
	font-family: 'Josefin Sans';
} 

.memoItem {
	margin-top: 20px;
	box-sizing: border-box;
	width: 100%;
	height: 100px;
	background: url(images/tag2.png) no-repeat 60% center;
}

.memoItem table{
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	padding: 10px;
}

.memoItem td{
	width: 150px;
}

.memoItem td{
	font-size: 11pt;
	color: rgb(255, 0, 34);
	padding: 5px;
}

/*-------------------------Notification Messages-------------------------*/

#messages {
	width: 250px;
	height: 25px;
	margin: 0 auto;
	font-size: 12;
	line-height: 25px;
}

#messages .success {
	margin: 0 auto;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	text-align: center;
	background-color: #b3ffb3;
	border-radius: 5px;
}

#messages .failure {
	margin: 0 auto;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	text-align: center;
	background-color: #ff9999;
	border-radius: 5px;
}

.error {
	width: 250px;
	height: 25px;
	margin: 0 auto;
	font-size: 12;
	line-height: 25px;
	text-align: center;
	background-color: #ff9999;
	border-radius: 5px;
	margin-bottom: 5px;
}